 Volume in drive C is OS
 Volume Serial Number is 9C8B-0028

 Directory of C:\Users\Alekhine\Desktop\Pokemon\Bug

04/19/2018  09:44 PM    <DIR>          .
04/19/2018  09:44 PM    <DIR>          ..
04/19/2018  09:26 PM                36 bugTeam.txt
04/19/2018  09:44 PM                 0 filename.txt
               2 File(s)             36 bytes
               2 Dir(s)  461,580,701,696 bytes free
